@tailwind base;
@tailwind components;
@tailwind utilities;

.image-size:hover {
  transform: scale(1.6);
}
.navL{
  background-color: rgb(235, 235, 235);
}
.navD{
  background-color: rgb(29, 28, 28);
}

.mainL{
  background: rgb(227,247,255);
  background: linear-gradient(133deg, rgba(227,247,255,0.9556197478991597) 0%, rgba(255,255,255,1) 100%);
}
.mainD{
  background: #1d282d;
}

.footerL{    
  background: rgb(241,255,227);
  background: linear-gradient(313deg, rgba(241,255,227,0.9556197478991597) 0%, rgba(255,255,255,1) 100%);
}
.footerD{
  background-color: #37414b;
}

.buttonL{
  background: rgb(170, 230, 251);

}
.buttonD{
  background-color: #8f9fd8;
}
.titleD{
  color: #8f9fd8;
}

.buttonD:hover{
  background-color: #5b73ca;
}
.contactD{
  background: rgb(29,40,45);
  background: radial-gradient(circle, rgba(29,40,45,1) 0%, rgba(55,65,75,1) 100%);
}