@tailwind base;
@tailwind components;
@tailwind utilities;

.image-size:hover {
  transform: scale(1.6);
}
.navL{
  background-color: rgb(212, 211, 211);
}
.navD{
  background-color: rgb(29, 28, 28);
}

 .mainL{
  background: rgb(214, 239, 248);
}  
.mainD{
  background: #1d282d;
}

.footerL{    
  background: rgb(247, 238, 230);
}
.footerD{
  background-color: #37414b;
}

.buttonL{
  background: #8f9fd8;

}
.buttonD{
  background-color: #8f9fd8;
}
.titleD{
  color: #8f9fd8;
}
.titleL{
  color: rgb(60, 198, 248);
}

.buttonD:hover{
  background-color: #5b73ca;
}
.contactD{
  background: rgb(29,40,45);
  background: radial-gradient(circle, rgba(29,40,45,1) 0%, rgba(55,65,75,1) 100%);
}